In [29]:
#The Imports
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

In [35]:
#Setting Start and end dates
start = datetime.datetime(2006, 1, 1)

end = datetime.datetime(2016, 1, 1)

In [49]:
#Data Section

#Need to get stock information for the following banks
#Bank of America
#CitiGroup
#Goldman Sachs
#JPMorgan Chase
#Morgan Stanley
#Wells Fargo

#Bank of america
BAC = data.DataReader("BAC", 'yahoo', start, end )
CG = data.DataReader("C", 'yahoo', start, end )
GS = data.DataReader( "GS", 'yahoo', start, end )
JPM = data.DataReader( "JPM", 'yahoo', start, end )
MS = data.DataReader( "MS", 'yahoo', start, end )
WFC = data.DataReader( "WFC", 'yahoo', start, end )

In [50]:
WFC

                 Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  31.600000  31.975000  31.195000  31.900000  23.238424  11016400
2006-01-04  31.799999  31.820000  31.365000  31.530001  22.968884  10870000
2006-01-05  31.500000  31.555000  31.309999  31.495001  22.943392  10158000
2006-01-06  31.580000  31.775000  31.385000  31.680000  23.078157   8403800
2006-01-09  31.674999  31.825001  31.555000  31.674999  23.074520   5619600
2006-01-10  31.549999  31.684999  31.445000  31.650000  23.056303   7157800
2006-01-11  31.650000  31.895000  31.575001  31.815001  23.176502   8047000
2006-01-12  31.705000  31.790001  31.430000  31.445000  22.906961  10763600
2006-01-13  31.549999  31.795000  31.510000  31.625000  23.038088   6365600
2006-01-17  31.459999  31.575001  31.200001  31.299999  22.801329  10690400
2006-01-18  31.305000  31.844999  31.299999  31.799999  23.165575  10780800
2006-01-19  31.805000  31.820000  31.270000  31.305000  22.804979   8713400
2006-01-20  31.309999  31.309999  30.750000  30.750000  22.400677  18166000
2006-01-23  30.754999  30.969999  30.750000  30.805000  22.440739   7047400
2006-01-24  30.825001  30.975000  30.660000  30.795000  22.433449   8232000
2006-01-25  30.834999  31.065001  30.730000  31.000000  22.582790   8580800
2006-01-26  31.240000  31.500000  31.184999  31.285000  22.790409   8598000
2006-01-27  31.285000  31.600000  31.035000  31.350000  22.837765   7640000
2006-01-30  31.350000  31.365000  31.150000  31.235001  22.753990   5756400
2006-01-31  31.125000  31.295000  31.105000  31.180000  22.713919  11763400
2006-02-01  30.950001  30.985001  30.750000  30.920000  22.713919   8224200
2006-02-02  30.825001  30.895000  30.600000  30.650000  22.515579   9830600
2006-02-03  30.424999  30.719999  30.309999  30.520000  22.420076   7532400
2006-02-06  30.424999  30.600000  30.334999  30.525000  22.423748   7290000
2006-02-07  30.500000  30.680000  30.450001  30.565001  22.453138   8095000
2006-02-08  30.500000  30.725000  30.395000  30.665001  22.526600   5924400
2006-02-09  30.605000  30.815001  30.504999  30.615000  22.489870   7052600
2006-02-10  30.635000  30.969999  30.570000  30.865000  22.673517   6501200
2006-02-13  30.775000  30.875000  30.600000  30.825001  22.644135   5401400
2006-02-14  30.950001  31.584999  30.889999  31.325001  23.011436   8263600
...               ...        ...        ...        ...        ...       ...
2015-11-18  55.060001  55.770000  54.970001  55.669998  52.815746  16612600
2015-11-19  55.770000  56.070000  55.459999  55.970001  53.100368  12167600
2015-11-20  56.259998  56.259998  55.720001  55.820000  52.958054  16264100
2015-11-23  55.900002  56.040001  55.560001  55.599998  52.749336   9638100
2015-11-24  55.139999  55.480000  54.889999  55.279999  52.445751  14156500
2015-11-25  55.459999  55.520000  55.099998  55.220001  52.388821  10034400
2015-11-27  55.340000  55.470001  54.980000  55.389999  52.550102   4914000
2015-11-30  55.459999  55.689999  55.099998  55.099998  52.274967  15998900
2015-12-01  55.509998  55.770000  55.270000  55.709999  52.853699  15543400
2015-12-02  55.799999  55.799999  55.000000  55.080002  52.256001  12779900
2015-12-03  55.130001  55.220001  54.029999  54.200001  51.421120  15410100
2015-12-04  54.480000  55.880001  54.310001  55.669998  52.815746  19647700
2015-12-07  55.450001  55.560001  55.020000  55.419998  52.578564  17991600
2015-12-08  54.980000  55.209999  54.279999  54.400002  51.610863  19949500
2015-12-09  54.119999  54.939999  53.709999  54.119999  51.345211  18499600
2015-12-10  54.250000  54.990002  53.880001  54.340000  51.553940  14020200
2015-12-11  53.450001  53.939999  52.990002  53.310001  50.576748  17815700
2015-12-14  53.320000  53.570000  52.750000  53.200001  50.472382  21789600
2015-12-15  53.830002  55.119999  53.810001  54.910000  52.094715  19056700
2015-12-16  55.209999  56.040001  54.820000  55.849998  52.986515  21086800
2015-12-17  56.110001  56.240002  55.470001  55.470001  52.626007  18800500
2015-12-18  55.000000  55.150002  53.790001  53.790001  51.032139  31468600
2015-12-21  54.299999  54.540001  53.549999  54.020000  51.250347  12993400
2015-12-22  54.360001  54.500000  53.700001  54.340000  51.553940  10265500
2015-12-23  54.599998  55.060001  54.459999  55.040001  52.218044  13033600
2015-12-24  54.970001  55.090000  54.709999  54.820000  52.009331   4999400
2015-12-28  54.549999  54.779999  54.169998  54.680000  51.876511   8270200
2015-12-29  55.110001  55.349998  54.990002  55.290001  52.455231   7894900
2015-12-30  55.270000  55.310001  54.790001  54.889999  52.075741   8016900
2015-12-31  54.509998  54.950001  54.220001  54.360001  51.572914  10929800

[2517 rows x 6 columns]